span {
    font-weight: bold;
}

h1 {
    margin: 1em 0 0 1em;
}

hr {
    margin: 0.125em 0 0 0em;
    width: 75%;
}

pre {
    position: relative;
    left: -10em;
    bottom: 1em;
}

p {
    margin: auto 5em;
}

img {
    float: right;
    margin: -4em 20em 0em 0em;
    transform: rotate(353deg);
}

em {
    color: grey;
}

div {
    display: block;
    margin: -1em 0em 1em 10em;
    padding-left: 1em;
    border-left: 0.1em solid grey;
}