span {
    font-weight: bold;
}

h1 {
    margin: 1em 0 0 1em;
}

hr {
    margin: 0.125em 0 0 0em;
    width: 75%;
}

p {
    position: relative;
    left: 2em;
    bottom: 1em;
}

img {
    float: right;
    margin: -4em 20em 0em 0em;
    transform: rotate(353deg);
}

em {
    color: grey;
}

div {
    display: block;
    margin: -2em 0em 1em 12em;
    padding-left: 1em;
    border-left: 0.1em solid grey;
}

.category {
    margin: auto 5em;
}